<!doctype>
<html>
  <head>
    <title>{% block title %}Wine{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/screen.css' )}}" />
    {% block custom_css %}
    {% endblock %}
    {% block custom_js %}
    {% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <div class="wrapper wrapper-navigation">
      <div class="container container-navigation">
        {% include 'navigation.html' %}
      </div>
    </div>

    <div class="wrapper wrapper-messages">
      <div class="container container-messages">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
          {{ message }}
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="wrapper wrapper-content">
      <div class="container container-content">
        {% block content %}
        {% endblock %}
      </div>
    </div>

  </body>
</html>
