{% extends 'base.html' %}

{% block content %}
<h1>Welcome to the Wine Cellar</h1>
<p>Add a wine</p>
<form method="POST">
  {{ form.name.label }} {{ form.name }} <br>
  {{ form.year.label }} {{ form.year }} <br>
  {{ form.country.label }} {{ form.country }} <br>
  {{ form.vineyard.label }} {{ form.vineyard }} <br>
  {{ form.genre.label }} {{ form.genre }} <br>

  {{ form.submit }}
<p>These are your wines:</p>
<ul>
  {% for wine in wines: %}
  <li>
    <a href="{{ url_for('wine_id', id=wine.id) }}">
      {{wine.name}}
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
